img {
	width: 480px;
}
body{
	background-color: #004278;
}
#container {
	width: 1000px;
	margin: 0 auto;
	background-color: #cccccc;
}
header {
	background-color: #5993c2;
}
main {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
}
			#home-col-1{
				display: inline-block;
				width: 480px;
				border: 1px solid black;
			}
			#home-col-2{
				display: inline-block;
				width: 480px;
				border: 1px solid black;

			}
footer {
	background-color: #5993c2;
}