img {
	width: 400px;
}
body{
	background-color: #07417a;
}
#container{
	width: 1000px;
	margin: 0 auto;
	background-color: #ccc;
}
header {
	background-color: #4da6ff;
}
main{
	padding: 0 10px;
}
#home-col-1{
	display: inline-block;
	width: 485px;
	background-color: red;
}
#home-col-2{
	display: inline-block;
	width: 485px;
	background-color: yellow;
}
.home-row-2{
	display: inline-block;
	width: 293px;
	background-color: #4da6ff;
	border: 1px solid black;
	margin-top: 20px;
}
#home-row-2-col-2{
	margin-left: 40px;
	margin-right: 40px;
}
footer {
	background-color: #4da6ff;
}