/*style.css*/
div{
	border: 2px solid green;
	margin: 2px;
	padding: 2px;
}

#maincontent{
	width: 60%;
	display: inline;
}

#sidebar{
	width: 30%;
	display: inline;
}

#footer #col1{
	width: 30%;
	display: inline;
}

#footer #col2{
	width: 30%;
	display: inline;
}

#footer #col3{
	width: 30%;
	display: inline;
}

#container{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
